<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
a{
    color: inherit;
}
    </style>
</head>
<body>
    <h1>Password Change Successful!</h1>
    <p>Go back to <a href="/login">Login Page</a> to continue.</p>
</body>
</html>